black
comet_ml==3.32.3
dcor
fsspec
h5py==3.8.0
isort
law
markupsafe==2.0.1
matplotlib==3.7.0
pandas==1.5.3
pre-commit
pyarrow
pylint
ruff
scikit-learn==1.2.1
tables==3.8.0
uproot
wandb
weaver-core>=0.4
